<!--To add task is to use post form which the path, route has to match with the post request '/'-->
<form action='/' method="post">

    <input type="text" name="task" id="" placeholder="Task"></input>
    <button type="submit">Add Task</button>

</form>
