<link rel="stylesheet" href="style/checkmail.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">

<div>
    <h1>The reset password link has been sent. Please check your email</h1>
    </br>
    <a href="/reset">Resend the link</a>
</div>
</form>


