<form action="/edit/<%= editTask._id %>" method="post">
    <input type="text" name="task" id="" placeholder="<%= editTask.task %>"></input>
    
    <button type="submit">Save Update</button>
</form>