<form action="/edit/<%= editData._id %>" method="post">
    <input type="text" name="task" id="" placeholder="<%= editData.task %>"></input>
    
    <button type="submit">Save Update</button>
</form>