<form action="/login" method="post">

    <input type="text" name="username" id="" placeholder="Username"></input>
    <input type="text" name="password" id="" placeholder="Password"></input>
    <button type="submit">Login</button>

</form>