<link rel="stylesheet" href="style/register.css">

<form class="register "action="/register" method="post">
    <h1>Register</h1>

    <input type="text" name="username" id="" placeholder="Username"></input>
    <input type="email" name="email" id="" placeholder="Email">
    <input type="text" name="password" id="" placeholder="Password"></input>
    <button type="submit">Register</button>

    <h1><a href="/login">Login</a></h1>
</form>
