<link rel="stylesheet" href="style/register.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">
  

<form class="register "action="/register" method="post">
    <h1>Register</h1>

    <input type="text" name="username" id="" placeholder="Username"></input>
    <input type="email" name="email" id="" placeholder="Email">
    <input type="text" name="password" id="" placeholder="Password"></input>
    <button type="submit">Register</button>

    <a href="/login">Login</a>
</form>
