<link rel="stylesheet" href="style/reset.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">
   

<form class="reset" action="/reset" method="post"> <!--SAME URL WITH CONTROLLER->ROUTER POST-->
    <% if(err) { %>
        <div> <%= err %> </div>
    <% } %>

    <h1>Reset your password</h1>
    <input type="email" name="email" id="" placeholder="Email">
    <button type="submit">Send the link</button>
    
    <a href="/login">Login</a>
</form>
