form {
    width: 75%;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;

    input {
        width: 75%;
        height: 45px;
        background: #c0c0c0;
        border: none;
        border-radius: 3px;
        padding: 10px;
        box-sizing: border-box;
    }

    input::placeholder {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
    }

    button {
        width: 22%;
        height: 45px;
        color: #ffffff;
        background: #c25264;
        border: none;
        border-radius: 3px;
        font-family: 'Raleway', sans-serif;
    }
}
