body {
    font-family: 'Raleway', sans-serif;
    background: #999999; 
    margin: 0;

    .head-bar {
        width: 100%;
        height: 60px;
        background: #3f3f3f;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;

        .sorting {
            width: 600px;
            
            button {
                background: #ffffff;
                border-radius: 50px;
                border: 1px solid #3f3f3f;

                a {
                    font-family: 'Raleway', sans-serif;
                    text-decoration: none;
                    color: #3f3f3f;
                    padding: 10px;
                    border: none;
                }
            }

            button:focus-within {
                background: #999999;
            }
        }

        h1.head-text {
            width: 45%;
            color: #ffffff;
            font-size: 24px;
            margin: 0;  
        }

        a {
            text-decoration: none;
            font-size: 16px;
            color: #ffffff; 
            padding: 10px;
            border-left: 1px solid #ffffff;
        }
    }

    h2.topic-text {
        font-size: 20px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: #ffffff;   
        background: #999999;   
        text-align: center;
        margin: 0;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        background: #999999; 
        
        .todo-container, .doing-container, .done-container {
            width: 90%;
            max-height: 65vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            background: #3f3f3f;
            border-top: 10px solid #ca485e;
            border-radius: 10px;
            overflow-x: hidden; 
            overflow-y: auto; 

            .task-card {
                width: 80%;
                border: 1px solid #888888; 
                border-radius: 10px;  
                margin: 10px;

                .task-name {
                    font-size: 16px;
                    color: #888888;
                    border-bottom: 1px solid #888888;
                    padding-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .edit-delete {
                    text-align: end;
                    margin-right: 10px;
            
                    img {
                        width: 20px;
                    }
                }

                .status {
                    height: 30px;
                    text-align: start;
                    margin-left: 10px;

                    a {
                        text-decoration: none;
                    }

                    .todo {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        background: #ca485e;
                        color: #ca485e;
                    }
                  
                    .doing {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        background: #ec6002;
                        color: #ec6002;
                    }

                    .done {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        background: #22d6a9;
                        color: #22d6a9;
                    }

                    .todo:hover, .doing:hover, .done:hover {
                        opacity: 0.6;
                    }
                }


            }
        }

        .doing-container {
            width: 90%;
            max-height: 100vh;
            border-top: 10px solid #ec6002;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            overflow-x: hidden; 
            overflow-y: auto; 
        }

        .done-container {
            width: 90%;
            max-height: 100vh;
            border-top: 10px solid #22d6a9;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            overflow-x: hidden; 
            overflow-y: auto; 


            h2.topic-text {
                font-size: 20px;
                width: 90%;
                height: 60px;
                line-height: 60px;
                color: #3f3f3f;   
                background: #f3f3f3;   
                text-align: center;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
}