body {
    background: #999999;
    font-family: 'Mallanna', sans-serif;
    margin: 0;

    h1.head-text {
        color: #ffffff;
        background: #888888;
    }

    .task-container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2.topic-text {
            width: 80%;
            color: #000000;
            background: #cfcf15;
            border-radius: 10px;
            box-shadow: 0px -10px #dada80;
            padding: 10px;
            box-sizing: border-box;
        }

        .task-card {
            width: 50%;
            height: 100px;
            background:#999999;
            border: 1px solid #ffffff;
            border-radius: 10px;
            margin: 10px;

            .task-name {
                color: #000000;
            }

            a.edit-button {
                color: #000000;
            }
        }
    }
}