body {

    background: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    margin: 0;

    h1.head-text {
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        background: #3f3f3f;
        text-align: center;
        margin: 0;
    }

    h2.topic-text {
        font-size: 20px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: #888888;   
        background: #f3f3f3;   
        text-align: center;
        margin: 0;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        background: #f3f3f3; 
        
        .todo-container, .doing-container, .done-container {
            width: 90%;
            max-height: 65vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            border-top: 10px solid #c25264;
            overflow-x: hidden; 
            overflow-y: auto; 

            .task-card {
                width: 80%;
                border: 1px solid #888888; 
                border-radius: 10px;  
                margin: 10px;

                .task-name {
                    font-size: 16px;
                    color: #888888;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .edit-delete {
                    text-align: end;
                    margin-right: 10px;
            
                    img {
                        width: 20px;
                    }
                }

                .status {
                    border-top: 1px solid #888888;
                    height: 30px;

                    a {
                        text-decoration: none;
                    }

                    .todo {
                        display: inline-block;
                        width: 60px;
                        height: 10px;
                        line-height: 10px;
                        background: #c25264;
                        color: #c25264;
                    }
                  
                    .doing {
                        display: inline-block;
                        width: 60px;
                        height: 10px;
                        line-height: 10px;
                        background: #ec6002;
                        color: #ec6002;
                    }

                    .done {
                        display: inline-block;
                        width: 60px;
                        height: 10px;
                        line-height: 10px;
                        width: 60px;
                        background: #22d6a9;
                        color: #22d6a9;
                    }
                }


            }
        }

        .doing-container {
            width: 90%;
            max-height: 100vh;
            border-top: 10px solid #ec6002;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            overflow-x: hidden; 
            overflow-y: auto; 
        }

        .done-container {
            width: 90%;
            max-height: 100vh;
            border-top: 10px solid #22d6a9;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding:20px 0 20px 0;
            overflow-x: hidden; 
            overflow-y: auto; 


            h2.topic-text {
                font-size: 20px;
                width: 90%;
                height: 60px;
                line-height: 60px;
                color: #3f3f3f;   
                background: #f3f3f3;   
                text-align: center;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
}